@{
    ViewBag.Title = "About";
}
<h2>SDL Solution Team</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Denis Baranov</h3>
        <p>RnD Director, Application security</p>
        <p><img src="https://portal.ptsecurity.com/sites/my/User%20Photos/Profile%20Pictures/dbaranov_LThumb.jpg" alt="Valery Boronin"/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Valery Boronin</h3>
        <p>Head of SDL solutions departament</p>
        <p><img src="https://portal.ptsecurity.com/sites/my/User%20Photos/Profile%20Pictures/vboronin_LThumb.jpg" alt="Valery Boronin"/>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Maxim Sharonov</h3>
        <p>Senior developer</p>
        <p><img src="https://portal.ptsecurity.com/sites/my/User%20Photos/Profile%20Pictures/msharonov_LThumb.jpg" alt="Maksim Sharonov"/>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Mikhail Kokorin</h3>
        <p>Senior developer</p>
        <p><img src="https://portal.ptsecurity.com/sites/my/User%20Photos/Profile%20Pictures/mkokorin_LThumb.jpg" alt="Mikhail Kokorin"/>
        </p>
    </div>
</div>