<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="EnableLogger" value="true" />
		<add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
		<add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
		<add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="Modules.UI" />
	</appSettings>
	<system.web>
		<globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.5.2" />
		<authentication mode="Windows" />
		<identity impersonate="true" />
		<authorization>
			<deny users="?" />
		</authorization>
		<pages>
			<namespaces>
				<add namespace="MvcSiteMapProvider.Web.Html" />
				<add namespace="MvcSiteMapProvider.Web.Html.Models" />
			</namespaces>
		</pages>
	</system.web>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="localeInspector" type="Modules.Core.Contracts.Transport.LocaleBehaviourElement, Modules.Core.Contracts" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="DefaultEndpointBehavior">
					<localeInspector />
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint binding="webHttpBinding" bindingConfiguration="DefaultBinding" contract="Modules.Core.Contracts.UI.IApiService" name="ApiService" kind="" endpointConfiguration="" behaviorConfiguration="DefaultEndpointBehavior" address="http://localhost:17047/Services/UI/ApiService.svc">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint binding="webHttpBinding" bindingConfiguration="DefaultBinding" contract="Modules.Core.Contracts.Query.IQueryService" name="QueryService" kind="" endpointConfiguration="" behaviorConfiguration="DefaultEndpointBehavior" address="http://localhost:17047/Services/Query/QueryService.svc">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint binding="webHttpBinding" bindingConfiguration="DefaultBinding" contract="Modules.Core.Contracts.Report.IReportService" name="ReportService" kind="" endpointConfiguration="" behaviorConfiguration="DefaultEndpointBehavior" address="http://localhost:17047/Services/Report/ReportService.svc">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
		<bindings>
			<webHttpBinding>
				<binding name="DefaultBinding" maxReceivedMessageSize="104857600">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="UrlRoutingModule-4.0" />
			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
		</modules>
	</system.webServer>
</configuration>