<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Common.Properties.Settings>
            <setting name="EnableLoggerSettingName" serializeAs="String">
                <value>EnableLogger</value>
            </setting>
            <setting name="PluginsFolderSettingName" serializeAs="String">
                <value>PluginsAbsolutePath</value>
            </setting>
            <setting name="ContextName" serializeAs="String">
                <value>SdlContext</value>
            </setting>
            <setting name="SystemLicenceId" serializeAs="String">
                <value>SystemLicenceId</value>
            </setting>
        </Common.Properties.Settings>
	</applicationSettings>
</configuration>