<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="DebugLayout"
			  value="[${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${machinename}] [${windows-identity}] [${level}] [${callsite}] ${message}" />
	<variable name="InfoLayout"
			  value="[${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${machinename}] [${windows-identity}] [${level}] [${callsite}] ${message}" />
	<variable name="WarnLayout"
			  value="[${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${machinename}] [${windows-identity}] [${level}] [${callsite}] ${message}" />
	<variable name="ErrorLayout"
			  value="[${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${machinename}] [${windows-identity}] [${level}] [${callsite}] ${message} ${exception:format=tostring}" />
	<variable name="FatalLayout"
			  value="[${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${machinename}] [${windows-identity}] [${level}] [${callsite}] ${message} ${exception:format=tostring}" />
	<variable name="TraceLayout"
			  value="[${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${machinename}] [${windows-identity}] [${level}] [${callsite}] ${message}" />

	<targets>

		<target name="fileAsDebug"  xsi:type="AsyncWrapper">
			<target xsi:type="FilteringWrapper" condition="level==LogLevel.Debug">
				<target xsi:type="File" fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM-dd}/debug.log"
						layout="${DebugLayout}" />
			</target>
		</target>

		<target name="fileAsInfo"  xsi:type="AsyncWrapper">
			<target xsi:type="FilteringWrapper" condition="level==LogLevel.Info">
				<target xsi:type="File" fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM-dd}/info.log"
						layout="${InfoLayout}" />
			</target>
		</target>

		<target name="fileAsWarn"  xsi:type="AsyncWrapper">
			<target xsi:type="FilteringWrapper" condition="level==LogLevel.Warn">
				<target xsi:type="File" fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM-dd}/warn.log"
						layout="${WarnLayout}" />
			</target>
		</target>

		<target name="fileAsError"  xsi:type="AsyncWrapper">
			<target xsi:type="FilteringWrapper" condition="level==LogLevel.Error">
				<target xsi:type="File" fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM-dd}/error.log"
						layout="${ErrorLayout}" />
			</target>
		</target>

		<target name="fileAsFatal"  xsi:type="AsyncWrapper">
			<target xsi:type="FilteringWrapper" condition="level==LogLevel.Fatal">
				<target xsi:type="File" fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM-dd}/fatal.log"
						layout="${FatalLayout}" />
			</target>
		</target>

		<target name="fileAsTrace"  xsi:type="AsyncWrapper">
			<target xsi:type="FilteringWrapper" condition="level==LogLevel.Trace">
				<target xsi:type="File" fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM-dd}/trace.log"
						layout="${TraceLayout}" />
			</target>
		</target>

		<target name="fileForAll"  xsi:type="AsyncWrapper">
			<target xsi:type="File" fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM-dd}/main.log" layout="${TraceLayout}" />
		</target>

		<target name="debugWindow"  xsi:type="AsyncWrapper">
			<target xsi:type="Debugger" layout="${TraceLayout}"/>
		</target>
		
	</targets>

	<rules>
		<logger name="*" minlevel="Trace"
				writeTo="fileAsDebug,fileAsInfo,fileAsWarn,fileAsError,fileAsFatal,fileAsTrace, fileForAll" />
		
		<logger name="*" minlevel="Trace" writeTo="debugWindow" />
	</rules>
</nlog>